body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    padding-top: 180px;
}

p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 18px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: tomato;
    padding: 15px 20px;
    border-radius: 10px;
}

.header-text {
    text-align: center;
    color: white;
    width: flex;
    height: 800px;
    background-image: url(images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
}